* {
  margin: 0px;
  padding: 0px;
}
html {
  height: 101%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: 'FuturaBT-Book', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  background: #fff;
  color: #222;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom:1px dotted;
}
a,
a:hover,
a:active,
a:visited {
  outline: 0px;
}
a:hover {
  color: #777;
}
em {font-family: 'FuturaBT-BookItalic', Helvetica, Arial, sans-serif;}
img {
  outline: 0;
  border: 0;
}
h1 {
  font-family: 'FuturaBT-Heavy', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #222;
  font-weight:normal;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}
h2 {
  font-family: 'FuturaBT-Heavy', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 25px;
  color: #222;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  font-weight: normal;
}
h3 {
  font-family: 'FuturaBT-Book', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 25px;
  color: #222;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  font-weight: normal;
}
h4 {
  color: red;
  font-weight: normal;
}
p {
  margin-bottom: 20px;
}

ul {
  margin-left:20px;
  list-style-type: square;
}

.small p{font-size: 13px;margin-top: 40px;}

header {
  position: fixed;
  top:0; left:0;
  z-index: 0;

  width: 90%;
  height:20px;
  padding: 10px 5%;
  overflow: hidden;
  background: #000;
  
  font-size: 16px;
  line-height: 20px;
  color:#fff;
  text-transform: uppercase;
  letter-spacing: 5px;
}

header h1 {
  float:left;
  font-size: 16px;
  line-height: 20px;
  margin:0;
}

header a, nav a {text-decoration: none;border:none;margin-bottom:0;}

nav {float:right;}

nav li {
  list-style: none;
  margin-right: 20px;
  float: left;
}

nav li a.active {
  color: red;
}

article {
  width: 90%;
  max-width: 970px;
  padding: 7% 5% 5% 5%;
  margin: 0 auto;
}

/*** HOME ***/
section.home{
  height:100vh;
  background: url('/assets/images/pattern.svg') #000 repeat center center fixed;
  background-size: 650px 390px;

  position: fixed;
  width: 100%;
  z-index: 50;
}

section.home article {
  width: 100%;
  height: 70vh;
}

.logo {
  height: 237px;
  width: 200px; 
  margin: 0 auto;
  position: relative;
  top: 50%; 
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

section.home .menu {
  width:100%;
  max-width: 970px;
  border-top: 1px solid #fff;
  height: 60px;
  margin-bottom: 20px;
  position:absolute;
  bottom: 0;
} 

section.home .menu p {
  padding:20px;
  font-size: 16px;
  line-height: 20px;
  color:#fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}

section.home .menu p a {
  text-decoration: none;
  margin: 15px;
  border:none;
}

/*** PHILOSOPHY ***/

section.philosophy{
  /*margin-top: 75vh;*/
  padding: 20vh 0 40px 0;
  /*height: 90vh;*/
  background: url('/assets/images/pattern-light.svg') repeat center center fixed; 
  background-size: 650px 390px;
}

/*.philosophy article {
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}*/

/*** TEAM ***/

section.team{
  text-align: center;
  box-shadow: 0px 0px 30px #ddd;
}

.team .bio {
  float: left;
  width: 465px;
  margin-right: 40px;
  margin-bottom:40px;
}

.team .bio img {width: 100%;}

.team .bio p {
  text-align: left;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 10px;
}

.team .bio.last-in-row {
  margin-right: 0;
}



/*** CONTACT ***/

section.contact{
  color: #fff;
  text-align: center;
/*  min-height: 100vh;*/
  background: url('/assets/images/pattern-dark.svg') #404040 repeat center center fixed; 
  background-size: 650px 390px;
}

section.contact p {text-align: center;}
/*.contact article {
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}*/

.contact h1 { color: #fff;}

.contact article .address {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-size: 16px;
  margin:60px 0 40px 0;
}

.copyr {
  color:#ccc;  
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 60px;
}
.copyr a {text-decoration: none; border:0;color:#ccc;}
.copyr a:hover {color:#fff;}

footer {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid red;
  font-size: 13px;
  color: #222;
}
footer a {
  color: red;
}
footer a:hover {
  color: #222;
}

.mobile {display:none;}
.clear {clear:both;}